[class*='wp-block-group']
	ul
		position: relative
		li
			width: 100%
			margin-left: 2em
			margin-bottom: 0.5em
			list-style-type: disclosure-closed
			@extend p
			//@extend .check-icon
			@extend .checkbox-icon

hr
	border: 0
	height: 1px
	//margin: $gutter/4 0
	background: $base-text-color
	background-image: linear-gradient(to right, $theme-color2 10%, $base-text-color 50%, $theme-color2 90%)

.wp-block-group
	margin: 5vh 0

.wp-block-image
	margin: 0 0 $gutter/2
	figcaption
		@extend h4
		em
			font-size: 0.8em
			font-weight: normal
.alignwide
	text-align: center
