// Header styles
#site-header
	position: relative
	display: flex
	//width: auto
	min-height: $header-h
	//margin-top: $gutter-20/2
	//margin-bottom: $gutter-20/2
	align-items: center
	background-color: $header-bg
	border-bottom: 1px solid darken(white, 10%)
	//z-index: 3
	+media-breakpoint-down(sm)
		min-height: $header-h-sm
	+media-breakpoint-down(xs)
		min-height: $header-h-xs
	#top-bar
		background-color: $top-bar-bg
		display: flex
		padding:
			left: 0
			right: 0
		.widget
			width: 100%
			margin:  0 $gutter-20 / 2 auto
			&:nth-child(n)
				text-align: center
			&:first-child
				text-align: left
			&:last-child
				text-align: right

	#header-container
		display: flex
		width: 100%
		justify-content: space-between
		align-items: center

	#branding
		display: flex
		width: auto
		//margin: auto 0
		height: $header-h - $gutter-20
		+media-breakpoint-down(sm)
			height: $header-h-sm - $gutter-20
			//max-width: $logo-width / 1.5
		+media-breakpoint-down(xs)
			height: $icon-size
			//max-width: $logo-width-min

		#branding-logo
			position: relative
			//margin: 0 auto
			//padding: 0 $gutter-20/2
			width: auto
			@include img-responsive

		#branding-title
			width: 100% 
			margin: auto 0
			padding: 0 $gutter-20/2
			display: flex
			flex-direction: column
			justify-content: space-between
			.site-title
				margin: 0
				line-height: 1
				font-size: 2em
				text-transform: uppercase
			.site-description
				font-size: 1em

		&.align-left
			#branding-logo
				margin-right: auto

		&.align-center
			margin-bottom: $gutter-20/2
			#branding-title
				justify-content: center

		&.align-right
			flex-direction: row-reverse

		&.align-vertical
			flex-direction: column
			#branding-title
				justify-content: center

			#branding-logo,
			#branding-title
				@include push--auto

	&.branding-right
		flex-direction: row-reverse

	&.branding-center
		flex-direction: column

	&.nav-above-logo,
	&.nav-below-logo
		height: #{strip-units($header-h) + strip-units($nav-height)}px
		+media-breakpoint-down(sm)
			height: #{strip-units($header-h-sm) + strip-units($nav-height)}px
		+media-breakpoint-down(xs)
			height: #{strip-units($header-h-xs) + strip-units($nav-height)}px

	&.nav-below-logo
		#header-container
			flex-wrap: wrap-reverse

	&.nav-above-logo
		#header-container
			flex-wrap: wrap


	&.nav-inline-logo
		#header-content
			display: flex
			flex-wrap: wrap
			flex: auto

	&.bounded
		.container
			padding-left: 0
			padding-right: 0
			+media-breakpoint-down(sm)
				padding-left: 15px
				padding-right: 15px

	#header-content
		margin: auto 0
		&.burger-menu
			display: inline-block
			.widget
				float: left

@import navigation
// <!-- End Header -->
