
// Main styles
#main
	position: relative
	flex: 100%
	width: 100vw
	height: 100vh
	clear: both
	z-index: 2

#main-header
	position: relative
	//min-height: 200px
	//padding: $gutter-20 0
	//width: 100%
	//@include push--auto
	//margin-bottom: $gutter/4
	margin-left: - math.div($gutter-20, 2)
	margin-right: - math.div($gutter-20, 2)
	//background-color: $header-bg
	//float: left
	.gallery-meta
		position: absolute
		//width: 50%
		//height: 50%
		left: 0
		top: 50%
		//padding: $gutter-20
		background-color: transparentize(black, 0.5)
		opacity: 0
		transition: opacity .5s .5s ease-out
		transform: translate(0%, -50%)
		//backdrop-filter: blur(10px)
		+media-breakpoint-down(xs)
			display: none
		.gallery-caption
			margin: $gutter-20
			color: #FFF
			font-size: 3em
			word-break: break-word

		.gallery-link
			display: block
			float: left
			margin: $gutter-20
			//position: absolute
			//left: 50%
			//top: 50%
			//opacity: 0
			//transition: opacity 1s 2s ease
			//transform: translate(-50%, -50%)
			.button
				color: black
				background-color: $theme-color
				&:hover
					color: white

	.lazyloaded
		.gallery-meta
			opacity: 1
			//@include animation(header-excerpt, 1.5s 1s ease-in-out both, no-fade, -50%, 0, -50%, -350px)

			.gallery-link
				//opacity: 1
				//@include animation(header-link, 2s 2.5s ease-in-out both, In, -50%, 0, -50%, -230px)


#main-container
	position: relative
	padding: 0 math.div($gutter-20, 2)
	//margin-bottom: math.div($gutter, 2)
	background-color: $main-bg
	//@extend %img

	#content
		//padding: $gutter-30 0
		@include push--auto
		background-color: $content-bg
		box-sizing: border-box
		word-break: break-word
		//@include img-responsive

		&.float-left
			width: $content-width
			margin-right: math.div($gutter-20, 2)

		&.float-right
			margin-left: math.div($gutter-20, 2)

		.page
			float: left
			width: 100%
			//opacity: 0

		.entry-header
			text-align: center

	article
		position: relative
		margin-top: math.div($gutter, 2)
		@include push--auto
		.entry-header
			width: 100%
			text-align: center
			//margin-bottom: $gutter-20 * 2
		&.entry
			//float: left
			h1
				&.in-view
					@include animation(h1, 1s 200ms ease-out both, In, 0, - math.div($gutter, 2) )

		.entry-content
			//flex-grow: 1
			width: 100%
			//float: left
			//margin-top: math.div($gutter, 2)
			margin-bottom: math.div($gutter, 2)
			h2
				text-transform: uppercase
				opacity: 0
				&.in-view
					@include animation(h2, 1.5s 100ms ease-out both, In, 300px, 0% )
			>div
				//margin-top: math.div($gutter, 2)
				ul
					//margin-bottom: 5vh
					li
						display: inline-block
						margin-left: 0
						align-items: center

			iframe
				width: 100%
				height: 70vh
				border: none
				+media-breakpoint-down(xs)
				height: 85vh

// <!-- End Main -->
