
#projects
	margin-bottom: $gutter-20*2
	&-category-meta
		float: left
		+media-breakpoint-down(md)
			margin: 0 $gutter-20 / 2
	&-categories
		float: right
		margin: 0 0 $gutter-20 / 2
		font-size: 0.8em
		text-align: right
		text-transform: uppercase
		+media-breakpoint-down(md)
			margin-right: $gutter-20 / 2
		li
			display: block
			width: 100% 
			padding: $gutter-20/4 0
			opacity: 0.7
			//margin: $gutter-20/2
			//border: 1px solid  $theme-color
			//border-radius: 3px
			&.active
				pointer-events: none
				opacity: 1
				a
					font-weight: bold
			a
				position: relative
				&::before
					@extend %nav-link

				&:hover
					&::before
						@extend %nav-link-hover

	&-portfolio
		clear: both
		.img-container
			overflow: hidden
			img
				transition: all 1s ease

				&:hover
					transform: scale(1.2)

			.portfolio-image-meta
				position: absolute
				//display: flex
				//top: 0
				right: 0
				bottom: 0
				left: 0
				//margin-top: -50% 
				padding: $gutter-20
				text-align: center
				//align-items: center
				//justify-content: center
				//flex-direction: column
				color: #FFF 
				background: transparentize($theme-color, 0.5)
				//opacity: 0
				backdrop-filter: blur(5px)

				.meta-title
					text-transform: uppercase
					letter-spacing: 1px 
				p
					margin: 0.5em
	#projects-load-more
		margin: $gutter-20 auto
 
.gallery,
.portfolio
	position: relative
	height: auto
	padding-bottom: 30px

.gallery
	&-image-details
		//position: absolute
		left: 0
		bottom: 0
		width: 100%
		padding: $gutter-20/2 0
		color: $base-text-color 
		background-color: transparentize(#FFF, 0.1) 
		div
			padding: 0 $gutter-20/4

	&-caption
		display: none

	
#gallery-lightbox-image
	position: fixed
	-ms-touch-action: none
	touch-action: none

.column-grid
	column-count: 2
	+media-breakpoint-down(xs)
		column-count: 1
	a
		display: inline-block
		width: 100%
		margin-top: $gutter-20
		float: left
		page-break-inside: avoid
		break-inside: avoid

.grid
	display: grid
	grid-gap: $gutter-20
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
	//grid-template-columns: 1fr 1fr
	//grid-template-areas: "left right"
	margin: 0
	
	> div:first-child
		grid-area: left
	> div:last-child
		grid-area: right

	+media-breakpoint-down(xs)
		//display: block
		grid-gap: $gutter-20/2

.cell
	@include img-responsive
	img
		display: block
		margin: auto