.search
	.search-title
		font-size: 1em
	.post-count
		margin-bottom: $gutter/2
		span
			font-weight: 600
			text-decoration: underline

.search-no-results
	input:not([type="submit"])
		border: 1px solid transparentize($base-shadow-color,.5)
		&:focus
			border: 1px solid $base-border-color

#searchform
	display: flex
	max-width: 600px
	@include push--auto
	flex-direction: column
	align-items: center
	> *
		margin: $gutter/4

//Search modal window
#site-search-modal
	display: flex
	justify-content: center
	align-items: center
	//@include animation(modal, 200ms ease-in both, In )
	//opacity: 1
	background-color: $body-bg
	@supports (backdrop-filter: blur(0))
		background-color: transparentize($body-bg, .15)
	#searchform
		width: 70%
		//height: $button-h
		//margin-right: $icon-size
		+media-breakpoint-down(sm)
			width: 90%

		input
			margin: 0
			//color: $theme-color
			//border-radius: 2px
			//padding: 0 5px
			//background-color: $body-bg

		&-submit
			display: none

	.close-icon
		display: block !important
		transform: translate(-50%, 100%)

