@import "../../node_modules/bootstrap/scss/mixins/_breakpoints.scss" // Bootstrap Breakpoints mixin
// @import "../../node_modules/bootstrap/scss/bootstrap-reboot.scss" // Bootstrap Reboot collection
// @import "../../node_modules/bootstrap/scss/bootstrap-grid.scss" // Optional Bootstrap Grid
// @import "../../node_modules/bootstrap/scss/utilities/_sizing.scss" // Optional Bootstrap Utilites
// @import "../../node_modules/normalize.css/normalize.css" // CSS library plug-in example (npm i --save-dev normalize.css)

// // Breakpoints mixin settings (node_modules/bootstrap/scss/mixins/_breakpoints.scss)
// // Example: +media-breakpoint-down(xs) - ≥576px / +media-breakpoint-up(sm) - // ≤576px
// // Default variables: node_modules/bootstrap/scss/_variables.scss

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px
$gutter: $grid-gutter-width
$grid-breakpoints: (xs: 420px, sm: 576px, md: 768px, lg: 992px, xl: 1200px)

// User variables:
// sizes
$container_max-w: 800px

//fonts
$text-size: 14px
$H1: 26px
$H2: 22px
$H3: 20px
$H4: 18px
$H5: 16px

//colors
$body-bg: white
$header-bg: white
$content-bg: white
$sidebar-bg: #ddd
$text-color: #333
$page-title-color: orange
$link-color: #69c
$link-color-hover: lighten($link-color, 20%) //darken($link-color, 20%)
$border-color: #eee
$accent: orange
$main-color: rgba(0, 0, 0, 0.5)
$opacity-color: opacity($main-color, 0.5)
$transparent-color: transparentize($main-color, 0.3)