
$grid-breakpoints: (xs: 320px, sm: 576px, md: 768px, lg: 992px, xl: 1200px)

// User variables:
// sizes
$gutter-20: 20px
$gutter-30: 30px
$gutter: 10vw
$container_max-w: 1200px
$top-bar-height: 0
$header-h: 70px
$header-h-sm: 60px
$header-h-xs: 50px
$sidebar-width: 0
$content-width: 100% - $sidebar-width
$nav-height: 1
$secondary-menu-mobile-h: 7vh

$footer-h: 40px
//$main-header-height: calc(100vh - #{$header-height} - #{$nav-height} - #{$top-bar-height} )
$icon-size: 1.8em
$icon-sm-size: 25px
$button-h: 40px
$portfolio-header-h: 73vh
//colors
$theme-color: #f2cb64 //#eaa900
$theme-color2: #fcfcfc
$body-bg: $theme-color2
$header-bg: white
$top-bar-bg: $header-bg
$main-bg: transparent //darken(white, 5%)
$content-bg: transparent
$sidebar-bg: $main-bg
$nav-bg: white
$footer-bg: $nav-bg
$branding-link-color: white
$base-text-color: #2b2a28
$base-shadow-color: $base-text-color
$base-border-color: $base-text-color
$page-title-color: $theme-color
$menu-link-color: $base-text-color
$menu-icon-color: $base-text-color
$link-color:  darken($theme-color, 10%)
$link-color-hover: darken($link-color, 20%) //darken($link-color, 20%)
$button-text-color: $base-text-color
$button-text-hover: white
$border-color: $body-bg
$preloader-bg: white
$preloader-color: $theme-color
$accent: $theme-color

//opacify($theme-color, 0.5)
//transparentize($theme-color, 0.3)

/* TYPOGRAPHY */
$title-font-family: Tahoma
$html-font-family: Helvetica
$default-fonts: Arial, sans-serif
$base-font-size: 16px
$base-line-height: 1.5em
$icon-font-size: 1.2em
$menu-font-size: 1.0em
$burger-menu-font-size: 1.5em
$burger-submenu-font-size: $burger-menu-font-size * 0.8

