@import "../../node_modules/bootstrap/scss/mixins/_breakpoints.scss" // Bootstrap Breakpoints mixin
// @import "../../node_modules/bootstrap/scss/bootstrap-grid.scss" // Bootstrap Grid
// @import "../../node_modules/bootstrap/scss/bootstrap-reboot.scss" // Bootstrap Reboot collection
// @import "../../node_modules/bootstrap/scss/utilities/_sizing.scss" // Optional Bootstrap Utilites
// @import "../../node_modules/normalize.css/normalize.css" // CSS library plug-in example (npm i --save-dev normalize.css)

// // Breakpoints mixin settings (node_modules/bootstrap/scss/mixins/_breakpoints.scss)
// // Example: +media-breakpoint-down(xs) - ≥576px / +media-breakpoint-up(sm) - // ≤576px
// // Default variables: node_modules/bootstrap/scss/_variables.scss

// Bootstrap compatible gutter variable => $gutter

// Lazy Load Placeholder built by HTML generator (https://webdesign-master.ru/services/lazy/)
//background-image: url(data:image/gifbase64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7)

@import mixins
@import fonts
@import vars
@import reset
//@import media
@import controls
	
@import search
@import overview
@import portfolio
@import jcarousel/jcarousel
@import imagelightbox/imagelightbox
//@import wpforms

*
	box-sizing: border-box

p
	margin: 0 0 $base-line-height 0
	letter-spacing: 0.5px
	
a
	text-decoration: none
	//font-weight: bold
	color: $link-color
	&:hover
	 	color: $link-color-hover

li
	list-style-type: none /* Убираем глобально маркеры */

			
h1 
	font: normal bold 2.4em/1.2 $base-font-family, Arial
	margin: 0 0 $gutter-30 0
	color: $page-title-color 


h2  
	font: normal bold 2em/1.2 $base-font-family, Arial
	margin: 1em 0
	color: $page-title-color 

h3 
	font: normal bold 1.6em/1.2 $base-font-family, Arial
	margin: 0 0 0.5em 0
	letter-spacing: -0.5px


h4 
	font: normal bold 1.4em/1.2 $base-font-family, Arial
	margin: 0 0 0.5em 0


h5 
	font: normal bold 1.2em/1.1 $base-font-family, Arial
	margin: 0 0 0.5em 0
		
html
	@include font-settings(Roboto, $base-text-color, 1rem, normal, 300, $base-line-height)
	font-size: $base-font-size
	-ms-text-size-adjust: 100%
	-webkit-text-size-adjust: 100%
	-webkit-font-smoothing: antialiased
	+media-breakpoint-down(md)
		font-size: 14px
		overflow: scroll
		overflow-x: hidden
		::-webkit-scrollbar
			//width: 0px  /* remove scrollbar space */
			background: transparent  /* optional: just make scrollbar invisible */

body
	display: flex
	flex-direction: column
	min-height: 100vh
	min-width: 320px
	margin: 0
	background-color: $body-bg
	overflow-x: hidden
	
// better to use img-responsive mixin
%img
	width: 100%
	height: auto

// Avoid empty images to appear as broken
img:not([src]):not([srcset])
	visibility: hidden
	
img[data-sizes="auto"]
	display: block
	width: 100%
	
img
	&.lazyload,
	&.lazyloading
		opacity: 0
	&.lazyloaded
		opacity: 1
		transition: opacity 500ms ease-in
 
.img-container
	position: relative
	height: 0
	width: 100% 
	//padding-top: 100%
	background-color: darken($main-bg, 10%)
	img
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%  

.container
	width: 100% 
	@include push--auto
		
.bounded
	max-width: $container_max_w
	//padding: 0 $gutter-20/2
	@include push--auto

.align-left
	justify-content: flex-start
	//align-items: flex-start
	
.align-center
	justify-content: center		
	//align-items: center

.align-right
	justify-content: flex-end
	//align-items: flex-end

.disabled
	pointer-events: none

.hidden
	display: none
	
.visible
	opacity: 1 !important

.show
	display: block !important

.modal
	position: fixed
	width: 100% 
	overflow-y: hidden	

.blur
	filter: blur(10px) grayscale(0)

.preloader
	position: fixed
	left: 0
	right: 0
	top: 0
	bottom: 0
	background-color: $preloader-bg

	z-index: 10000
	i
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		font-size: 3em
		color: $preloader-color
	
.header-background
	background-size: cover
	background-repeat: no-repeat
	background-position: 50% 50%
	//background-attachment: fixed


@import header
@import main
@import footer
