@use "sass:math"
/*
 * @package Starck-theme
 *
 * Base styles library
 *
 * @version 1.0.8
 */
// @import "../../node_modules/bootstrap/scss/bootstrap-grid.scss" // Bootstrap Grid
// @import "../../node_modules/bootstrap/scss/bootstrap-reboot.scss" // Bootstrap Reboot collection
// @import "../../node_modules/bootstrap/scss/utilities/_sizing.scss" // Optional Bootstrap Utilites
// @import "../../node_modules/normalize.css/normalize.css" // CSS library plug-in example (npm i --save-dev normalize.css)
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints.scss" // Bootstrap Breakpoints mixin

// Breakpoints mixin settings (node_modules/bootstrap/scss/mixins/_breakpoints.scss)
// Example: +media-breakpoint-down(xs) - ≤576px / +media-breakpoint-up(sm) - // >576px
// Default variables: node_modules/bootstrap/scss/_variables.scss

// Bootstrap compartible gutter variable => $gutter

// Lazy Load Placeholder built by HTML generator (https://webdesign-master.ru/services/lazy/)
//background-image: url(data:image/gifbase64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7)

@import mixins
@import fonts
@import vars
@import reset
//@import media
@import controls

@import search
//@import overview
@import portfolio
@import jcarousel/jcarousel
//@import imagelightbox/imagelightbox
//@import polylang
@import wpforms
@import gutenberg

*
    box-sizing: border-box

a
    text-decoration: none
    //font-weight: bold
    color: $link-color
    &:hover
        color: $link-color-hover
    &:focus, &:active
        color: $theme-color !important

p
    letter-spacing: 0.3px
    line-height: $base-line-height
    margin-top: 0
    +media-breakpoint-down(xs)
        text-align: justify
ul
    padding: 0
    margin: 0
li
    list-style-type: none
    letter-spacing: 0.3px
    +media-breakpoint-down(xs)
        text-align: justify
h1
    margin: 0 0 .75rem
    //@include font-settings($title-font-family, black, 2em, lowercase, 500, 1.2)
    font-size: 3rem
    font-weight: 500
    line-height: 1.25
    letter-spacing: 3px
    text-transform: lowercase
    +media-breakpoint-down(md)
        font-size: 2.8rem
    +media-breakpoint-down(sm)
        font-size: 2.6rem

h2
    margin: 0 0 .75rem
    font-size: 1.6rem
    font-weight: 700
    letter-spacing: 3px
    color: $page-title-color

h3
    font-size: 1.4rem
    font-weight: 700
    margin: 1.5rem 0 .5rem


h4
    font-size: 1.2rem
    font-weight: 500
    margin: 0 0 .2rem


h5
    font-size: 1rem
    font-weight: 300
    margin: 0 0 .2rem

header
    text-transform: lowercase
    letter-spacing: 1px


html
    @include font-settings($html-font-family, $base-text-color, $base-font-size, normal, initial, $base-line-height)
    -ms-text-size-adjust: 100%
    -webkit-text-size-adjust: 100%
    -webkit-font-smoothing: antialiased
    +media-breakpoint-down(lg)
        //font-size: 15px
    +media-breakpoint-down(md)
        font-size: 17px
        overflow: scroll
        overflow-x: hidden
        ::-webkit-scrollbar
            //width: 0px  /* remove scrollbar space */
            background: transparent  /* optional: just make scrollbar invisible */
    +media-breakpoint-down(sm)
        font-size: 16px


body
    position: relative
    display: flex
    flex-direction: column
    min-height: 100vh
    min-width: 320px
    width: 100%
    margin: 0
    background-color: $body-bg
    overflow-x: hidden scroll

%img
    img
        width: 100%
        height: auto

// Avoid empty images to appear as broken
img:not([src]):not([srcset])
    visibility: hidden

img[data-sizes="auto"]
    display: block
    width: 100%

[data-vp-layout="tiles"] .vp-portfolio__item-img img
    height: 100% !important

.pswp
    display: none


.container
    //width: 100%
    @include push--auto
    //margin-left: $gutter / 2
    //margin-right: $gutter / 2

.bounded
    width: 100%
    max-width: $container_max_w
    //padding: 0 $gutter-20/2
    @include push--auto

.align-left
    justify-content: flex-start
    //align-items: flex-start

.align-center
    justify-content: center
    //align-items: center

.align-right
    justify-content: flex-end
    //align-items: flex-end

.disabled
    pointer-events: none

.hidden
    //display: none !important
    visibility: hidden !important
    opacity: 0 !important
    z-index: -1 !important

header .hidden
    display: none

.visible
    opacity: 1 !important

.show
    display: block !important

.blur
    @supports (backdrop-filter: blur(0))
        backdrop-filter: blur(10px)

.blur-bg
    @supports (filter: blur(0))
        filter: blur(7px) grayscale(0)
        //margin: -10px
    @supports not (filter: blur(0))
        background-color: transparentize(black,.5) !important

.header-background
    @include push--absolute
    background-size: cover
    background-repeat: no-repeat
    background-position: 50% 50%

.modal
    position: fixed
    left: 0
    right: 0
    top: 0
    bottom: 0
    //overflow: hidden
    transition: all .3s ease
    visibility: visible
    opacity: 1
    touch-action: none
    //cursor: pointer
    z-index: 10000
    overflow: hidden
    @extend .blur

#dom-preloader
    @extend .modal
    background-color: $preloader-bg
    z-index: 10000

#overlay
    background-color: transparentize(black, .15)
        //filter: blur(10px)

    div.imagebox
        position: relative
        height: 100%
        background-size: contain
        background-position: 50% 50%
        background-repeat: no-repeat
        touch-action: pinch-zoom

    div.close
        transform: translate(-50%, 100%)


.feedback
    margin: math.div($gutter, 2) auto 0
    max-width: 600px

@import header
@import main
@import footer
