/*
 * Custom Sass
 */

@import vars
@import mixins
@import fonts


::placeholder
	color: #666

::selection //когд выделяем текст на странице
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green
a
	text-decoration: none
	font-weight: bold
	color: $link-color
	&:hover
	 	color: $link-color-hover
li
	list-style-type: none /* Убираем глобально маркеры */
.container
	max-width: $container_max_w
	padding:
		right: $gutter/2
		left: $gutter/2
	margin:
		left: auto
		right: auto

.img-responsive
	display: block
	max-width: 100%
	height: auto
	
.img
	width: 100%

.grid
	display: grid
	grid-gap: $gutter
	grid-template-columns: 1fr 1fr
	grid-template-areas: "left right"
	> div:first-child
		grid-area: left
	> div:last-child
		grid-area: right
	+media-breakpoint-down(xs)
		display: block
		> div
			padding: $gutter/2 0

.parent // Lazy Load Placeholder Generator: https://webdesign-master.ru/services/lazy/
	background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7)

.content-align-center
	text-align: center
	
html
	background-color: darken($body-bg,5%)

body
	@include font-settings(Roboto, $text-color, $text-size, 300, 1.25)
	min-width: 320px
	max-width: $container_max_w 
	position: relative
	overflow-x: hidden
	color: $text-color
	background-color: $body-bg
	margin-top: 0
	margin-bottom: 0
	@include push--auto

#site-header
	//@extend .center
	background-color: $header-bg

#main
	//max-width: $container-max-w
	//@include push--auto
	height: 100%
	min-height: 100vh
	margin: $grid-gutter-width * 2 $grid-gutter-width

	#content
		float: left
		width: 75%
		background-color: $content-bg
		padding-right: $grid-gutter-width
		box-sizing: border-box
	
	&-sidebar
		float: left
		width: 25%
		background-color: $sidebar-bg 
		border: 1px solid $border-color
		box-sizing: border-box
		
#site-footer
	color: #FFF
	background-color: $footer-bg
	padding: $grid-gutter-width / 2
	
#site-header
	padding: $grid-gutter-width / 2
	line-height: 1
	#header-title
		h1
			font-size: 30px
	 


