/*
 * Custom Sass
 */

@import vars
@import mixins
@import fonts
@import jcarousel/jcarousel

//@for $h from 1 to 5

//добавляется командой @extend %align-{center|left|right} для позиционирования элементов в блоке
@each $align in left, center, right
	%align-#{$align}
		text-align: #{$align}
	

::placeholder
	color: #666

::selection //когд выделяем текст на странице
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green
p
	margin: 0
a
	text-decoration: none
	//font-weight: bold
	color: $link-color
	&:hover
	 	color: $link-color-hover
li
	list-style-type: none /* Убираем глобально маркеры */


img
	width: 100%
	height: auto

.header-background
	background-size: cover
	background-repeat: no-repeat
	background-position: 50% 50%
	//background-attachment: fixed
	
.grid
	display: grid
	grid-gap: $gutter-20
	grid-template-columns: 1fr 1fr
	grid-template-areas: "left right"
	> div:first-child
		grid-area: left
	> div:last-child
		grid-area: right
	+media-breakpoint-down(xs)
		display: block
		> div
			padding: $gutter-20/2 0

.button
	margin: 10px auto
	width: max-content
	padding: 10px 20px
	color: white
	background-color: transparentize(#FFF,0.8)  
	border: 1px solid $theme-color
	border-radius: 5px
	text-transform: uppercase
	cursor: pointer
	

.parent // Lazy Load Placeholder Generator: https://webdesign-master.ru/services/lazy/
	background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7)

.container
	padding: $gutter-20/2
	
.bounded
	max-width: $container_max_w
	//padding: 0 $gutter-20/2
	@include push--auto

.align-left
	justify-content: flex-start
	//align-items: flex-start
	
.align-center
	justify-content: center		
	//align-items: center

.align-right
	justify-content: flex-end
	//align-items: flex-end

.hidden
	display: none

	
html
	background-color: darken($body-bg,5%)

body
	@include font-settings(Roboto, $text-color, $text-size, 300, 1.25)
	min-width: 320px
	position: relative
	margin: 0
	//color: $text-color
	background-color: $body-bg
	overflow-x: hidden
	
#site-header
	background-color: $main-bg

	#top-bar
		background-color: $body-bg
		display: flex
		padding: 
			left: 0
			right: 0
		
		.widget
			width: 100%
			margin:  0 $gutter-20 / 2 auto
			&:nth-child(n)
				text-align: center
			&:first-child
				text-align: left
			&:last-child
				text-align: right
										
	#header-container
		display: flex
		justify-content: space-between

	
	&.branding-right
		flex-direction: row-reverse
		
	&.branding-center
		flex-direction: column
										
	#branding
		display: flex
		margin: 0 0 auto
		a
			display: flex


		&.align-center
			margin-bottom: $gutter-20/2
			a
				justify-content: center

		&.align-right
			flex-direction: row-reverse


		&.align-vertical
			flex-direction: column

			a
				justify-content: center
				
			#branding-logo
				@include push--auto
				
			#branding-title
				@include push--auto 

			
		#branding-logo
			margin: auto 0
			//padding: 0 $gutter-20/2
			max-width: 200px

		#branding-title
			margin: auto 0
			padding: 0 $gutter-20/2

			.site-title
				margin: 0
				line-height: 1
				font-size: 30px
				text-transform: uppercase 
			a
				&:hover
						color: $link-color
	&.nav-below-logo
		#header-container
			flex-wrap: wrap-reverse

	&.nav-above-logo
		#header-container
			flex-wrap: wrap
			
		#header-nav
			margin-bottom: $gutter-20/2 
			
	&.nav-inline-logo
		#header-content
			display: flex
			flex-wrap: wrap
			//flex-direction: column

	#menu-icon
		@extend #search-icon
		background-color: #FFF 
		
	#search-icon
		@include push--auto
		padding: 0 $gutter-20/2 
		font-size: 1.5em
		height: 40px
		line-height: 40px
		display: none
		
	#site-search
		display: none
		
#header-nav
	display: flex
	width: 100%
	//margin-top: auto
	
	.menu-top-container
		display: flex
		width: 100%
		
			
	ul
		display: flex
		position: relative
		width: 100%
		margin: 0
		padding: 0
		height: $nav-height
		background-color: $theme-color 
		
		li
			display: flex
			transition: none
			&:hover			
				background-color: inherit

			a
				margin: 0 $gutter-20
				text-transform: uppercase
				line-height: $nav-height
				color: $menu-link-color //$text-color	
				&:hover
					transition:  100ms all ease
					border-bottom: 3px solid white

		&.responsive
			height: 500px

	&.float-right
		width: auto
	
	&.float-left
		width: auto


	&.center-aligned
		ul
			justify-content: center

	&.right-aligned
		ul
			justify-content: flex-end
			
	&.below-logo


	&.nav-under-header

		
main
	clear: both
	@include push--auto
	
	&.left-sidebar
		#main-container
			flex-direction: row-reverse 
			
	#main-header
		position: relative
		min-height: 200px 
		//padding: $gutter-20 0

		.header-container
			position: absolute
			top: 0
			bottom: 0
			right: 0
			left: 0
			width: 50%
			//height: 100vh
			margin: auto
			padding-top: $gutter-30 * 2
			color: #FFF
	
	#main-container
		display: flex
		height: 100%
		min-height: 100vh
		padding: 
			top: $gutter-20/2
			bottom: $gutter-20/2
		@include push--auto
		background-color: $main-bg
		.breadcrumbs
			margin-bottom: $gutter-20 * 2 	  
		
		#content
			float: left
			width: 100%
			padding: 0 $gutter-20
			//background-color: $content-bg
			box-sizing: border-box
			
			&.left-aligned
				width: $content-width
				margin-right: $gutter-20/2
				
			&.right-aligned
				margin-left: $gutter-20/2

		
		#main-sidebar
			width: 25%
			float: left
			padding: $gutter-20/2
			background-color: $sidebar-bg 
			border: 1px solid $border-color
			box-sizing: border-box

		
footer	
	#footer-container
		background: $footer-bg
		//color: #FFF
		.footer-widgets

			display: flex
			//justify-content: space-around
			padding: $gutter-20 / 2	 
			
			.footer-widget
				//display: flex
				width: 100%
				margin:  0 0 auto
				//justify-content: center
				//align-items: start
				&:nth-child(n)
					text-align: center
				&:first-child
					text-align: left
				&:last-child
					text-align: right

				table
					margin: auto 

		#copyright
			//background: $body-bg
			padding: $gutter-20 / 2
			text-align: center

	.back-to-top
		$btn-size: 30px
		position: fixed
		display: flex
		align-items: center
		justify-content: center
		bottom: $btn-size * -1.2
		right: $gutter-20
		width: $btn-size
		height: $btn-size
		font-size: $btn-size / 2
		background: transparentize($theme-color, 0.9)
		color: darken($theme-color, 20%)
		border: 1px solid darken($theme-color, 20%)
		border-radius: $btn-size / 1.5
		transition: all 700ms cubic-bezier(0.61, 0.67, 0.1, 1.01)
		z-index: 9999
		&:hover
			color: lighten($theme-color, 100%)		
			background: $theme-color
			border-color: $theme-color
		&.show
			bottom: $btn-size * 1.5



