/*
 * Custom Sass
 */

@import vars
@import mixins
@import fonts


::placeholder
	color: #666

::selection //когд выделяем текст на странице
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green
a
	text-decoration: none
	font-weight: bold
	color: $link-color
	&:hover
	 	color: $link-color-hover
li
	list-style-type: none /* Убираем глобально маркеры */
.container
	max-width: $container_max_w
	padding:
		right: $gutter/2
		left: $gutter/2
	margin:
		left: auto
		right: auto

.img-responsive
	display: block
	max-width: 100%
	height: auto
	
.img
	width: 100%

.grid
	display: grid
	grid-gap: $gutter
	grid-template-columns: 1fr 1fr
	grid-template-areas: "left right"
	> div:first-child
		grid-area: left
	> div:last-child
		grid-area: right
	+media-breakpoint-down(xs)
		display: block
		> div
			padding: $gutter/2 0

.parent // Lazy Load Placeholder Generator: https://webdesign-master.ru/services/lazy/
	background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7)

.center
	text-align: center
	 
body
	@include font-settings(Roboto, $text-color, $text-size, 300, 1.25)
	min-width: 320px
	position: relative
	overflow-x: hidden
	color: $text-color
	background-color: $body-bg

header
	background-color: $header-bg
	max-width: $container_max_w 
	@include push--auto
	@extend .center

main
	max-width: $container-max-w
	@include push--auto
	&-sidebar
		border: 1px solid $border-color

#site-title
	font-size: 30px
	 
#content
	float: left
	width: 75%
	background-color: $content-bg

#main-sidebar
	float: right
	width: 25%
	background-color: $sidebar-bg 

