.*
/node_modules/
/.git/
/**/Thumbs.db
/**/*.DS_Store
/resources/
/backup/
/src/wordpress/
!/src/wordpress/search-replace-db
/src/wp-content/*
/src/wp-content/themes/*
!/src/wp-content/themes/
!/src/wp-content/themes/starck-theme/
!/src/wp-content/backup/
/*.sublime-workspace
