/node_modules/
/.git/
/**/Thumbs.db
/**/*.DS_Store
/resources/
/backup/
/src/wordpress/
/src/wp-content/
/src/wp-content/themes/starck-theme/css
/src/wp-content/themes/starck-theme/js
!src/wp-content/themes/starck-theme/
!src/wordpress/search-replace-db
