.*
node_modules
/.git/
/**/Thumbs.db
/**/*.DS_Store
resources
/backup/
/src/wordpress/
/src/wp-content/themes/starck-theme/sftp-config.json
!/src/wordpress/search-replace-db
/src/wp-config.php
/src/db/*
/src/wp-content/*
/src/wp-content/themes/*
!/src/wp-content/themes/
!/src/wp-content/themes/starck-theme/
!/src/wp-content/backup/
*.sublime-workspace
*.sublime-project