@charset "UTF-8";
/*
 * Custom Sass
 */
/*
 * Миксины
 */
/*@mixin css-triangle($color, $direction, $size: 6px, $position: absolute, $round: false)
  @include pseudo($pos: $position)
  width: 0
  height: 0
  @if $round
    border-radius: 3px

  @if $direction == down
    border-left: $size solid transparent
    border-right: $size solid transparent
    border-top: $size solid $color
    margin-top: (0 - round( $size / 2.5 ))
   @else if $direction == up
    border-left: $size solid transparent
    border-right: $size solid transparent
    border-bottom: $size solid $color
    margin-bottom: 0 - round( $size / 2.5 )
   @else if $direction == right
    border-top: $size solid transparent
    border-bottom: $size solid transparent
    border-left: $size solid $color
    margin-right: -$size
   @else if  $direction == left
    border-top: $size solid transparent
    border-bottom: $size solid transparent
    border-right: $size solid $color
    margin-left: -$size
  */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/roboto-italic-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-bold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/roboto-bolditalic-webfont.woff2") format("woff2");
}

::-webkit-input-placeholder {
  color: #666;
}

::-moz-placeholder {
  color: #666;
}

:-ms-input-placeholder {
  color: #666;
}

::-ms-input-placeholder {
  color: #666;
}

::placeholder {
  color: #666;
}

::-moz-selection {
  background-color: orange;
  color: #fff;
}

::selection {
  background-color: orange;
  color: #fff;
}

input, textarea {
  outline: none;
}

input:focus:required:invalid, textarea:focus:required:invalid {
  border-color: red;
}

input:required:valid, textarea:required:valid {
  border-color: green;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #69c;
}

a:hover {
  color: #8cb3d9;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
      grid-template-areas: "left right";
}

.grid > div:first-child {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
}

.grid > div:last-child {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: right;
}

@media (max-width: 575.98px) {
  .grid {
    display: block;
  }
  .grid > div {
    padding: 10px 0;
  }
}

.parent {
  background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7);
}

.bounded {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.align-left, #site-header .branding-left {
  float: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.align-center, #site-header .branding-center {
  float: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-right, #site-header .branding-right {
  float: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

html {
  background-color: rgba(83, 140, 198, 0.1);
}

body {
  font-family: Roboto, sans-serif, Helvetica, Arial;
  font-size: 14px;
  color: #333;
  font-weight: 300;
  line-height: 1.25;
  min-width: 320px;
  position: relative;
  margin: 0;
  background-color: rgba(102, 153, 204, 0.1);
  overflow-x: hidden;
}

#site-header #container {
  display: table;
  width: 100%;
  padding: 10px 0;
  background-color: white;
}

#site-header .branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
}

#site-header .branding a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#site-header .branding-center a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#site-header .branding-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#site-header .branding.align-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#site-header .branding.align-vertical a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#site-header .branding.align-vertical #branding-logo {
  margin-left: auto;
  margin-right: auto;
}

#site-header .branding.align-vertical #branding-title {
  margin-left: auto;
  margin-right: auto;
}

#site-header .branding .site-logo {
  float: left;
  margin: auto 0;
  padding: 0 10px;
  max-width: 200px;
}

#site-header .branding .site-title {
  float: left;
  margin: auto 0;
  padding: 0 10px;
}

#site-header .branding .site-title h1 {
  font-size: 30px;
  line-height: 100%;
  margin: 0;
}

#site-header .branding .site-title h1 a:hover {
  color: #69c;
}

#site-header #site-search {
  display: table-cell;
  margin: 0 10px 10px;
}

#site-header #site-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #69c;
}

#site-header #site-menu.float-right {
  clear: right;
  float: right;
  width: auto;
}

#site-header #site-menu.float-left {
  clear: left;
  float: left;
  width: auto;
}

#site-header #site-menu.bounded {
  clear: both;
  float: none;
}

#site-header #site-menu.above-header {
  display: table-caption;
}

#site-header #site-menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

#site-header #site-menu.align-center .menu, #site-header #site-menu.branding-center .menu {
  width: auto;
}

#site-header #site-menu ul {
  margin: 0;
  padding: 0;
}

#site-header #site-menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#site-header #site-menu ul li a {
  padding: 10px 0;
  margin: 0 20px;
  color: white;
}

#site-header #site-menu ul li:hover {
  border-bottom: 3px solid white;
}

main {
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

main #main-header {
  padding: 20px 0;
  display: none;
}

main #container {
  height: 100%;
  min-height: 100vh;
  padding: 40px 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

main #container #content {
  float: left;
  width: 75%;
  padding: 0 20px;
  background-color: #cccccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main #container #content.left-sidebar {
  float: right;
  width: 75%;
}

main #container #content.no-sidebar {
  width: 100%;
}

main #container #main-sidebar {
  width: 25%;
  float: left;
  padding: 10px;
  background-color: white;
  border: 1px solid rgba(102, 153, 204, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer #container {
  background-color: #69c;
  padding: 10px;
}
