h1 {
  font: normal bold 2rem/1.1 Arial, Helvetica, sans-serif;
  margin: 0 0 0.5rem 0;
  color: orange;
}

h2 {
  font: normal bold 1.75rem/1.1 Arial, Helvetica, sans-serif;
  margin: 0 0 0.5rem 0;
}

h3 {
  font: normal bold 1.5rem/1.1 Arial, Helvetica, sans-serif;
  margin: 0 0 0.5rem 0;
}

h4 {
  font: normal bold 1.33rem/1.1 Arial, Helvetica, sans-serif;
  margin: 0 0 0.5rem 0;
}

h5 {
  font: normal bold 1.2rem/1.1 Arial, Helvetica, sans-serif;
  margin: 0 0 0.5rem 0;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-display: auto;
  src: url("../fonts/roboto-italic-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  src: url("../fonts/roboto-bold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  font-display: auto;
  src: url("../fonts/roboto-bolditalic-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../fonts/fa-brands-400.woff2") format("woff2");
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("../fonts/fa-regular-400.woff2") format("woff2");
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("../fonts/fa-solid-900.woff2") format("woff2");
}

.fab {
  font-family: 'Font Awesome 5 Brands';
}

.far, .fa, .fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

.fa, .fas {
  font-weight: 900;
}

::-webkit-input-placeholder {
  color: #666;
}

::-moz-placeholder {
  color: #666;
}

:-ms-input-placeholder {
  color: #666;
}

::-ms-input-placeholder {
  color: #666;
}

::placeholder {
  color: #666;
}

::-moz-selection {
  background-color: orange;
  color: #fff;
}

::selection {
  background-color: orange;
  color: #fff;
}

input, textarea {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #555;
  outline: none;
}

input:focus:required:invalid, textarea:focus:required:invalid {
  border-color: red;
}

input[type="checkbox"] {
  width: auto;
}

input {
  line-height: 25px;
}

.search-submit {
  visibility: hidden;
}

.button,
input[type="submit"] {
  position: relative;
  height: 40px;
  line-height: 40px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333;
  text-transform: uppercase;
  font-weight: 500;
  background: rgba(102, 153, 204, 0);
  -webkit-box-shadow: inset 0 0 0 1px #69c;
          box-shadow: inset 0 0 0 1px #69c;
  border-radius: 3px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  cursor: pointer;
}

.button:hover,
input[type="submit"]:hover {
  background: rgba(102, 153, 204, 0.5);
  color: white;
}

/*  jCarousel Prev Next Buttons Styles  */
.jcarousel-wrapper .jcarousel-control {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  top: 50%;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  color: #FFF;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  background-color: rgba(85, 85, 85, 0.2);
  border: 1px solid rgba(85, 85, 85, 0.8);
  border-radius: 30px;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  display: none;
}

.jcarousel-wrapper .jcarousel-control:hover {
  background-color: rgba(85, 85, 85, 0.8);
}

.jcarousel-wrapper .jcarousel-control.inactive {
  cursor: default;
}

.jcarousel-wrapper .jcarousel-control.prev {
  left: 15px;
}

.jcarousel-wrapper .jcarousel-control.next {
  right: 15px;
}

.jcarousel-wrapper a:hover {
  color: #FFF;
}

/*  jCarousel Pagination Styles */
.jcarousel-wrapper .jcarousel-pagination {
  position: absolute;
  width: 100%;
  bottom: 10px;
  background-color: transparent;
  text-align: center;
}

.jcarousel-wrapper .jcarousel-pagination a {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #FFF;
  line-height: 20px;
  text-align: center;
  background-color: rgba(85, 85, 85, 0.2);
  border-radius: 30px;
  margin-left: 5px;
}

.jcarousel-wrapper .jcarousel-pagination a:first-child {
  margin-left: 0;
}

.jcarousel-wrapper .jcarousel-pagination a:hover {
  background-color: rgba(85, 85, 85, 0.8);
}

.jcarousel-wrapper .jcarousel-pagination a.active {
  background-color: #FFF;
  color: #69c;
}

.jcarousel-wrapper {
  position: relative;
  width: 1000px;
  height: 400px;
  margin: 0 auto;
}

.jcarousel-wrapper .jcarousel {
  position: relative;
  overflow: hidden;
}

.jcarousel-wrapper .jcarousel ul {
  position: relative;
  width: 20000em;
  margin: 0;
  padding: 0;
}

.jcarousel-wrapper .jcarousel ul li {
  width: 1000px;
  height: 400px;
  float: left;
}

p {
  margin: 0 0 1.25rem 0;
  letter-spacing: 0px;
}

a {
  text-decoration: none;
  color: #69c;
}

a:hover {
  color: #8cb3d9;
}

li {
  list-style-type: none;
}

#site-header img, main #main-container img {
  width: 100%;
  height: auto;
}

.header-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
      grid-template-areas: "left right";
}

.grid > div:first-child {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
}

.grid > div:last-child {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: right;
}

@media (max-width: 575.98px) {
  .grid {
    display: block;
  }
  .grid > div {
    padding: 10px 0;
  }
}

.parent {
  background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7);
}

.container {
  padding: 10px;
}

.bounded {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.align-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.align-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hidden {
  display: none;
}

.visible {
  opacity: 1;
}

#preloader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  z-index: 10000;
}

#preloader i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3em;
  color: #69c;
}

html {
  background-color: #f2f2f2;
  font-size: 15px;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #333;
  text-transform: normal;
  font-weight: 300;
  line-height: 1.25rem;
  position: relative;
  min-width: 320px;
  margin: 0;
  background-color: white;
  overflow-x: hidden;
}

#site-header {
  background-color: white;
}

#site-header #top-bar {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

#site-header #top-bar .widget {
  width: 100%;
  margin: 0 10px auto;
}

#site-header #top-bar .widget:nth-child(n) {
  text-align: center;
}

#site-header #top-bar .widget:first-child {
  text-align: left;
}

#site-header #top-bar .widget:last-child {
  text-align: right;
}

#site-header #header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#site-header.branding-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#site-header.branding-center {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#site-header #branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 auto;
}

#site-header #branding.align-center {
  margin-bottom: 10px;
}

#site-header #branding.align-center a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#site-header #branding.align-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#site-header #branding.align-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#site-header #branding.align-vertical a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#site-header #branding.align-vertical #branding-logo,
#site-header #branding.align-vertical #branding-title {
  margin-left: auto;
  margin-right: auto;
}

#site-header #branding #branding-logo {
  margin: auto 0;
  max-width: 200px;
}

#site-header #branding #branding-title {
  margin: auto 0;
  padding: 0 10px;
}

#site-header #branding #branding-title a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#site-header #branding #branding-title .site-title {
  margin: 0;
  line-height: 1;
  font-size: 2em;
  text-transform: uppercase;
}

#site-header #branding #branding-title .site-description {
  font-size: 1em;
}

#site-header.nav-below-logo #header-container {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

#site-header.nav-above-logo #header-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#site-header.nav-above-logo #header-nav {
  margin-bottom: 10px;
}

#site-header.nav-inline-logo #header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#site-header #menu-icon {
  background-color: #FFF;
}

#site-header #search-icon, #site-header #menu-icon {
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  font-size: 1.5em;
  height: 40px;
  line-height: 40px;
  display: none;
}

#site-header #site-search {
  display: none;
}

#header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#header-nav .menu-top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 40px;
  background-color: white;
}

#header-nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: none;
  transition: none;
}

#header-nav ul li:hover {
  background-color: inherit;
}

#header-nav ul li a {
  margin: 0 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  color: #69c;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0px;
}

#header-nav ul li a:hover {
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
  border-bottom: 3px solid #69c;
}

#header-nav ul.responsive {
  height: 500px;
}

#header-nav.float-right {
  width: auto;
}

#header-nav.float-left {
  width: auto;
}

#header-nav.center-aligned ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header-nav.right-aligned ul {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main {
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

main.left-sidebar #main-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

main #main-header {
  position: relative;
  min-height: 200px;
  overflow: hidden;
}

main #main-header-link {
  position: absolute;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -230px);
          transform: translate(-50%, -230px);
}

main #main-header-link .button {
  color: #FFF;
}

main #main-header-excerpt {
  position: absolute;
  width: 50%;
  left: 50%;
  color: #FFF;
  padding: 20px 20px 80px;
  background: rgba(102, 153, 204, 0.5);
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

main #main-header.visible #main-header-excerpt {
  -webkit-animation: animation-header-excerpt 1.5s 1s ease-in-out both;
          animation: animation-header-excerpt 1.5s 1s ease-in-out both;
}

@-webkit-keyframes animation-header-excerpt {
  100% {
    -webkit-transform: translate(-50%, -350px);
            transform: translate(-50%, -350px);
    opacity: 1;
  }
}

@keyframes animation-header-excerpt {
  100% {
    -webkit-transform: translate(-50%, -350px);
            transform: translate(-50%, -350px);
    opacity: 1;
  }
}

main #main-header.visible #main-header-link {
  -webkit-animation: animation-header-link 2s 2.5s ease-in-out both;
          animation: animation-header-link 2s 2.5s ease-in-out both;
}

@-webkit-keyframes animation-header-link {
  100% {
    -webkit-transform: translate(-50%, -230px);
            transform: translate(-50%, -230px);
    opacity: 1;
  }
}

@keyframes animation-header-link {
  100% {
    -webkit-transform: translate(-50%, -230px);
            transform: translate(-50%, -230px);
    opacity: 1;
  }
}

main #main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-height: 100vh;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f2f2f2;
}

main #main-container .breadcrumbs {
  margin-bottom: 40px;
  font-size: .8em;
}

main #main-container #content {
  float: left;
  width: 100%;
  padding: 0 20px;
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main #main-container #content.left-aligned {
  width: 75%;
  margin-right: 10px;
}

main #main-container #content.right-aligned {
  margin-left: 10px;
}

main #main-container #content .page {
  opacity: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

main #main-container #content .page.visible {
  -webkit-animation: animation-article 0.8s 0s ease both;
          animation: animation-article 0.8s 0s ease both;
}

@-webkit-keyframes animation-article {
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes animation-article {
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

main #main-container #main-sidebar {
  width: 25%;
  float: left;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer #footer-container {
  overflow: hidden;
  background: #69c;
  font-size: 0.8em;
}

footer #footer-container .footer-widgets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

footer #footer-container .footer-widgets .footer-widget {
  width: 100%;
  margin: 0 0 auto;
}

footer #footer-container .footer-widgets .footer-widget:nth-child(n) {
  text-align: center;
}

footer #footer-container .footer-widgets .footer-widget:first-child {
  text-align: left;
}

footer #footer-container .footer-widgets .footer-widget:last-child {
  text-align: right;
}

footer #footer-container .footer-widgets .footer-widget table {
  margin: auto;
}

footer #footer-container #copyright {
  padding: 10px;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 1500ms ease;
  transition: all 1500ms ease;
}

footer #footer-container #copyright.visible {
  opacity: 1;
}

footer .back-to-top {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: -36px;
  right: 20px;
  width: 30px;
  height: 30px;
  font-size: 15px;
  background: rgba(102, 153, 204, 0.1);
  color: #336699;
  border: 1px solid #336699;
  border-radius: 20px;
  -webkit-transition: all 700ms cubic-bezier(0.61, 0.67, 0.1, 1.01);
  transition: all 700ms cubic-bezier(0.61, 0.67, 0.1, 1.01);
  z-index: 9999;
}

footer .back-to-top:hover {
  color: white;
  background: #69c;
  border-color: #69c;
}

footer .back-to-top.show {
  bottom: 45px;
}
